@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-background: #fafafa;
  --second-background: #dbcdb5;
  --main-btn: #a4330d;
  --second-btn: #3d1506;
  --main-paragraph-text: #1e1e1e;
  --second-paragraph-text: #3d1506;
  --white-text: #ffffff;
  --black-text: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--black-text);
  background: var(--main-background);
  font-family: "Inter", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
